<ion-header>
  <ion-navbar>
    <ion-title align-items-center justify-content-center class="text-center">
      <img src="./assets/imgs/91lyft-v3.png" class="nav-img">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout();">
        <ion-icon ios="md-log-out" md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="map-card" align-items-center justify-content-center>
  <ion-row align-items-center justify-content-center>
    <h1>Need a lyft to urgent care?</h1>
  </ion-row>
  <ion-card class="map-wrapper" align-items-center justify-content-center>
    <agm-map>
      <agm-direction [origin]="currentLoc" [destination]="urgentCareLatLng"></agm-direction>
      <ng-container *ngIf="rideAccepted">
        <p>Marker Ride Accepted</p>
        <agm-marker [latitude]="driverLocation.lat" [longitude]="driverLocation.lng">
          <agm-info-window>
            <strong>{{driver.first_name}}</strong>
            <img class="vehicle-image" src="{{vehicle.image_url}}">
            <p><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon> {{driver.phone_number}}</p>
            <p><ion-icon ios="ios-star" md="md-star"></ion-icon> {{driver.rating}}/5.0</p>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-map>
    <div class="block-map" *ngIf="!googleMapReady || !urgentCareReady || (rideRequested && !rideAccepted)"></div>
    <div class='loading' *ngIf="!googleMapReady || !urgentCareReady || (rideRequested && !rideAccepted)">
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
    </div>
  </ion-card>
  <ng-container *ngIf="!rideAccepted">
    <ion-row align-items-center justify-content-center>
      <button ion-button large color="lyft" class="lyft-btn" (click)="callARide()" [disabled]="!googleMapReady || !urgentCareReady || rideRequested">{{rideStatus}}</button>
    </ion-row>
  </ng-container>
  <ng-container *ngIf="rideAccepted">
    <ion-card>
      <!--Driver info here-->
    </ion-card>
  </ng-container>
</ion-content>
