@import "../../theme/variables";

page-home {
  ion-icon {
    color: #9c0000;
    vertical-align: middle;
  }

  ion-title {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
  }

  ion-content {
    border-bottom: none !important;
    background-color: map-get($colors, lyftGrey) !important;
  }

  agm-map {
    height: 300px;
  }

  ion-footer {
    border-top: none !important;
  }

  .footer {
    margin-bottom: 15px;
  }

  .home-body {
    width: 100%;
    text-align: center;
  }

  .map-card {
    padding: 0 !important;
    text-align: center;
    color: map-get($colors, lyft);

    ion-item {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .map-wrapper {
    border: 2px solid map-get($colors, lyft);
  }

  .lyft-btn {
    width: 90%;
    height: 80px;
    font-size: 1.5em;
    color: map-get($colors, lyftBlue);
    font-weight: bold;
    border-radius: 5px;
  }

  .lyft-btn:hover {
    background-color: darken(map-get($colors, lyft), 10);
  }

  .loader {
    animation: spin 2s linear infinite;
    border-radius: 50%;
    border: solid 5px map-get($colors, lyftWhite);
    border-top-color: map-get($colors, lyft);
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .driver-image {
    width: 100px;
    height: 62.5px;
    margin-left: 7px;
  }
  // LOADING DOTS //

  .vehicle-image {
    width: 100px;
    height: 44px;
    margin-left: 7px;
  }

  ion-card {
    position: relative;
  }

  .block-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .loading .bullet {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: map-get($colors, lyft);
    -webkit-animation: animIn 1s ease-in-out 0s infinite;
    animation: animIn 1s ease-in-out 0s infinite;
  }
  .loading .bullet:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .loading .bullet:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .loading .bullet:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .loading .bullet:nth-child(4) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  @-webkit-keyframes animIn {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
  }
  @keyframes animIn {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
  }
}
