<ion-header>
  <ion-navbar>
    <ion-title align-items-center justify-content-center class="text-center">
      <img src="./assets/imgs/91lyft-v3.png" class="nav-img">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout();">
        <ion-icon ios="md-log-out" md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="map-card" align-items-center justify-content-center>
  <ion-row align-items-center justify-content-center>
    <h1>Need a lyft to urgent care?</h1>
  </ion-row>
  <ion-card *ngIf="googleMapReady && urgentCareReady" class="map-wrapper" align-items-center justify-content-center>
    <agm-map>
      <agm-direction [origin]="currentLoc" [destination]="urgentCareLatLng"></agm-direction>
    </agm-map>
  </ion-card>
  <ion-card *ngIf="!googleMapReady || !urgentCareReady" class="spinner" align-items-center justify-content-center>
    <img src="./assets/imgs/loading-spinner.svg">
  </ion-card>
  <div class="loading-wrapper">
    <div class='loading'>
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
      <div class='bullet'></div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <ion-row align-items-center justify-content-center>
    <button ion-button large color="lyft" class="lyft-btn" (click)="callARide()" [disabled]="!googleMapReady || !urgentCareReady || rideRequested">{{rideStatus}}</button>
  </ion-row>
</ion-footer>
